h2 {
	text-align: center;
	height: auto;
	width: auto;
}
body p {
	margin-top: auto;
	margin-right: 50px;
	margin-bottom: auto;
	margin-left: 50px;
	text-indent: 2em;
	line-height: 25px;
	font-family: "ו";
	font-size: 14px;
}
body {
	background-color: #FFC;
}
#bt{
	margin: auto;
	width: 800px;
}
#tp {
	float: right;
}
#abc {
	height: 600px;
	width: 800px;
	margin: auto;
}
