.one{
    width: 500px;
    height: 500px;
    background-color: yellow;
    border-style: solid dotted double dashed ; /* 上  右  下 左 */
    font-size: 20px;
    color: blue;
    text-align:right;
    font-weight: bold;
    text-decoration: underline;
    
}