@charset "utf-8";
body {
	margin-left:0px;
	margin-top:0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font:宋体;
	border: 0;
	font-size: 12px;
	color: #000000;
	
	
}
.bj {
	background-image:  url(../images/bj01.jpg);
	background-repeat:no-repeat;
	
}
.hh {height: 30px;
}
.text {
	font-size: 12px;
	color: #000
}
.text1 {
	line-height: 20px;
	color: #000;
}
#zi {font-size: 12px;
}
body,td,th {
	font-size: 12px;
	color: #000;
	cellspacing:0px;
}
